<div class="fa-changes-item <%- item.comment !== '' ? 'has-comment' : '' %>">
  <span class="fa-changes-user"><%- item.user %></span>,
  <time class="fa-changes-time" datetime="<%- item.time.iso %>" title="<%- item.time.long %>"><%- item.time.daysAgo > 5 ? item.time.long : item.time.human %></time>:
  <% if (item.changes.length) { %>
  <table class="table table-condensed fa-changes-changes">
    <tbody>
      <% item.changes.forEach((change, i) => { %>
      <% if (change.oldValue === null && change.newValue === null) return %>
      <tr>
        <td class="is-min"><%- change.label ? `${change.label}:` : '' %></td>
        <% if (change.oldValue !== null) { %>
        <td class="is-min"><span class="<%- change.oldValue.more ? 'has-more' : '' %>" data-content="<%= change.oldValue.more %>"><%- change.oldValue %></span></td>
        <td class="is-min"><i class="fa fa-arrow-right"></i></td>
        <% } %>
        <td colspan="<%- change.oldValue === null ? 3 : 1 %>"><span class="<%- change.newValue.more ? 'has-more' : '' %>" data-content="<%= change.newValue.more %>"><%- change.newValue %></span></td>
        <td></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% } %>
  <% if (item.comment !== '') { %>
  <p class="fa-changes-comment"><%- item.comment %></p>
  <% } %>
</div>
