<li data-online class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown">
    <%- t('NAVBAR:tools') %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <% ['openInvestments', 'sapFixedAssets', 'assetBailmentEn', 'assetBailmentPl', 'checklist', 'pot'].forEach(function(id) { %>
    <li data-privilege="FA:VIEW FA:OT:VIEW FA:LT:VIEW" data-module="fa" class="navbar-with-button">
      <a href="/fa/files/<%- id %>?download=1" target="_blank">
        <%- t('fa-common', 'files:' + id) %>
        &nbsp;
        <i class="fa fa-external-link"></i>
      </a>
      <button class="btn btn-default" data-href="/fa/files/<%- id %>" data-privilege="FA:MANAGE:FILES"><i class="fa fa-edit"></i></button>
    </li>
    <% }) %>
    <li class="divider"></li>
    <li data-privilege="EVENTS:VIEW" data-module><a href="#events"><%- t('NAVBAR:events') %></a>
    <li data-privilege="SUPER" data-module><a href="#logs/browserErrors"><%- t('NAVBAR:browserErrors') %></a>
  </ul>
</li>
