<div class="fa-edit-stage" data-stage="accept">
  <%- helpers.props(details, [
    '!protocolNeeded',
    '!commissioningType',
    '!usageDestination',
    {id: '!protocolDate', visible: model.protocolNeeded},
    {id: 'protocolNo', visible: model.protocolNeeded, valueClassName: 'text-fixed'},
    '!documentDate',
    {id: 'documentNo', valueClassName: 'text-fixed'},
    'assetName',
    {id: 'lineSymbol', visible: model.usageDestination === 'factory', valueClassName: 'text-fixed'},
    {id: 'inventoryNo', valueClassName: 'text-fixed'},
    helpers.fa.zplxProp(),
    {id: '!owner', visible: model.protocolNeeded},
    helpers.fa.committeeProp({visible: model.protocolNeeded}),
    'supplier',
    'value',
    'fiscalValue',
    {id: 'costCenter', valueClassName: 'text-fixed'},
    'assetClass',
    {id: 'vendorNo', visible: model.usageDestination === 'external-supplier', valueClassName: 'text-fixed'},
    {id: 'vendorName', visible: model.usageDestination === 'external-supplier'},
    'deprecationRate',
    'economicPeriod',
    'fiscalPeriod',
    helpers.fa.attachmentProp({name: 'protocol', visible: model.protocolNeeded}),
    helpers.fa.attachmentProp({name: 'checklist'}),
    helpers.fa.attachmentProp({name: 'certificate', visible: model.usageDestination === 'external-supplier'}),
    helpers.fa.attachmentProp({name: 'photo', visible: model.commissioningType === 'new-asset'}),
    helpers.fa.attachmentProp({name: 'nameplate', visible: model.usageDestination === 'external-supplier'})
  ]) %>
  <%- helpers.fa.attachmentFormGroup({name: 'attachment'}) %>
  <div class="form-group">
    <label for="<%- idPrefix %>-comment" class="control-label"><%- t('PROPERTY:comment') %></label>
    <textarea id="<%- idPrefix %>-comment" class="form-control" name="comment" rows="3"></textarea>
  </div>
</div>
