<div class="fa-edit-stage" data-stage="authorize">
  <div class="form-group">
    <label class="control-label"><%- t('PROPERTY:commissioningType') %></label>
    <p class="form-control-static"><%- details.commissioningType %></p>
  </div>
  <div class="form-group">
    <label class="control-label"><%- t('PROPERTY:protocolDate') %></label>
    <p class="form-control-static"><%- details.protocolDate %></p>
  </div>
  <% if (model.commissioningType === 'inc-asset') { %>
  <div class="form-group">
    <label class="control-label"><%- t('PROPERTY:inventoryNo') %></label>
    <p class="form-control-static"><%= details.inventoryNo || '-' %></p>
  </div>
  <% } %>
  <div class="form-group">
    <label class="control-label"><%- t('PROPERTY:serialNo') %></label>
    <p class="form-control-static"><%= details.serialNo || '-' %></p>
  </div>
  <div class="form-group">
    <label class="control-label"><%- t('PROPERTY:assetName') %></label>
    <p class="form-control-static"><%= details.assetName %></p>
  </div>
  <% if (model.usageDestination === 'factory') { %>
  <div class="form-group">
    <label class="control-label"><%- t('PROPERTY:lineSymbol') %></label>
    <p class="form-control-static"><%= details.lineSymbol || '-' %></p>
  </div>
  <% } %>
  <div class="form-group">
    <label class="control-label"><%- t('PROPERTY:zplx') %></label>
    <%- helpers.fa.zplxList(details.zplx, true) %>
  </div>
  <p class="fa-ot-protocol-statement">
    <span class="fa-ot-protocol-statement-hd"><%- t('protocol:statement:hd') %></span>
    <span class="fa-ot-protocol-statement-bd"><%- t('protocol:statement:bd') %></span>
  </p>
  <div class="form-group">
    <label class="control-label"><%- t('protocol:participants') %></label>
    <ul>
      <li><%- t('fa-common', 'FORM:edit:committee:owner') %> <%- details.owner %></li>
      <% details.committee.forEach(function(user, i) { %>
      <li><%- t('fa-common', 'FORM:edit:committee:person', {no: i + 1}) %> <%- user %></li>
      <% }) %>
    </ul>
  </div>
  <% if (model.commissioningType === 'new-asset') { %>
  <div class="form-group">
    <label class="control-label"><%- t('PROPERTY:supplier') %></label>
    <p class="form-control-static"><%= details.supplier %></p>
  </div>
  <% } %>
  <%- helpers.fa.attachmentFormGroup({
    name: 'protocol',
    editable: false
  }) %>
  <%- helpers.fa.attachmentFormGroup({
    name: 'photo',
    editable: false,
    visible: model.commissioningType === 'new-asset'
  }) %>
  <%- helpers.fa.attachmentFormGroup({
    name: 'attachment'
  }) %>
  <div class="form-group">
    <label for="<%- id('comment') %>" class="control-label"><%- t('PROPERTY:comment') %></label>
    <textarea id="<%- id('comment') %>" class="form-control" name="comment" rows="3"></textarea>
  </div>
</div>
