<div class="fa-edit-stage" data-stage="document">
  <div class="form-group">
    <label class="control-label"><%- t('PROPERTY:no') %></label>
    <p class="form-control-static"><%- no %></p>
  </div>
  <div class="form-group fa-edit-short">
    <label for="<%- idPrefix %>-documentDate" class="control-label is-required"><%- t('PROPERTY:documentDate') %></label>
    <input id="<%- idPrefix %>-documentDate" name="documentDate" class="form-control" type="date" data-required>
  </div>
  <% if (commissioningType === 'inc-asset') { %>
  <div class="form-group fa-edit-short">
    <label for="<%- idPrefix %>-inventoryNo" class="control-label is-required"><%- t('PROPERTY:inventoryNo') %></label>
    <input id="<%- idPrefix %>-inventoryNo" name="inventoryNo" class="form-control" type="text" data-required>
  </div>
  <% } %>
  <div class="fa-edit-row fa-edit-long">
    <div class="form-group fa-edit-flex" style="margin-bottom: 15px">
      <label for="<%- idPrefix %>-assetName" class="control-label is-required"><%- t('PROPERTY:assetName') %></label>
      <input id="<%- idPrefix %>-assetName" name="assetName" class="form-control" type="text" data-required>
    </div>
    <% if (usageDestination === 'factory') { %>
    <div class="form-group fa-edit-short">
      <label for="<%- idPrefix %>-lineSymbol" class="control-label"><%- t('PROPERTY:lineSymbol') %></label>
      <input id="<%- idPrefix %>-lineSymbol" name="lineSymbol" class="form-control" type="text">
    </div>
    <% } %>
  </div>
  <div id="<%- idPrefix %>-zplx"></div>
  <div class="form-group fa-edit-long" style="margin-top: -10px">
    <label for="<%- idPrefix %>-supplier" class="control-label <%- commissioningType === 'new-asset' && usageDestination === 'external-supplier' ? '' : 'is-required' %>"><%- t('PROPERTY:supplier') %></label>
    <input id="<%- idPrefix %>-supplier" name="supplier" class="form-control" type="text" <%- commissioningType === 'new-asset' && usageDestination === 'external-supplier' ? '' : 'data-required' %>>
  </div>
  <div id="<%- idPrefix %>-value" style="margin-bottom: 15px"></div>
  <div class="fa-edit-row fa-edit-long">
    <div class="form-group fa-edit-short has-required-select2">
      <label for="<%- idPrefix %>-costCenter" class="control-label is-required"><%- t('PROPERTY:costCenter') %></label>
      <input id="<%- idPrefix %>-costCenter" name="costCenter" type="text" data-required>
    </div>
    <div class="form-group fa-edit-flex has-required-select2">
      <label for="<%- idPrefix %>-destination" class="control-label is-required"><%- t('PROPERTY:destination') %></label>
      <input id="<%- idPrefix %>-destination" name="destination" type="text" data-required>
    </div>
  </div>
  <% if (usageDestination === 'external-supplier') { %>
  <div class="fa-edit-row fa-edit-long">
    <div class="form-group fa-edit-short">
      <label for="<%- idPrefix %>-vendorNo" class="control-label is-required"><%- t('PROPERTY:vendorNo') %></label>
      <input id="<%- idPrefix %>-vendorNo" name="vendorNo" class="form-control" type="text" data-required>
    </div>
    <div class="form-group fa-edit-flex">
      <label for="<%- idPrefix %>-vendorName" class="control-label is-required"><%- t('PROPERTY:vendorName') %></label>
      <input id="<%- idPrefix %>-vendorName" name="vendorName" class="form-control" type="text" data-required>
    </div>
  </div>
  <% } %>
  <div class="form-group fa-edit-long">
    <label for="<%- idPrefix %>-checklistFile" class="control-label is-required"><%- t('PROPERTY:checklistFile') %></label>
    <table class="fa-edit-attachment">
      <tbody>
      <tr>
        <td class="is-min" style="padding: 0 10px 5px 0"><%- t('FORM:edit:attachment:old') %></td>
        <td style="padding-bottom: 5px">
          <% if (checklistFile) { %>
          <a href="/fa/ot/<%- documentId %>/attachments/checklist" target="_blank"><%= checklistFile.name %></a>
          <% } else { %>
          <%- t('FORM:edit:attachment:empty') %>
          <% } %>
        </td>
      </tr>
      <tr>
        <td class="is-min" style="padding-right: 10px"><%- t('FORM:edit:attachment:new') %></td>
        <td><input id="<%- idPrefix %>-checklistFile" name="checklistFile" class="form-control" type="file" <%- checklistFile ? '' : 'data-required' %>></td>
      </tr>
      </tbody>
    </table>
    <% if (usageDestination === 'factory' && checklistFile) { %>
    <p class="help-block"><%- t('FORM:edit:attachment:help') %></p>
    <% } %>
  </div>
  <% if (usageDestination === 'external-supplier') { %>
  <div class="form-group fa-edit-long">
    <label for="<%- idPrefix %>-certificateFile" class="control-label is-required"><%- t('PROPERTY:certificateFile') %></label>
    <table class="fa-edit-attachment">
      <tbody>
      <tr>
        <td class="is-min" style="padding: 0 10px 5px 0"><%- t('FORM:edit:attachment:old') %></td>
        <td style="padding-bottom: 5px">
          <% if (certificateFile) { %>
          <a href="/fa/ot/<%- documentId %>/attachments/certificate" target="_blank"><%= certificateFile.name %></a>
          <% } else { %>
          <%- t('FORM:edit:attachment:empty') %>
          <% } %>
        </td>
      </tr>
      <tr>
        <td class="is-min" style="padding-right: 10px"><%- t('FORM:edit:attachment:new') %></td>
        <td><input id="<%- idPrefix %>-certificateFile" name="certificateFile" class="form-control" type="file" <%- certificateFile ? '' : 'data-required' %>></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="form-group fa-edit-long">
    <label for="<%- idPrefix %>-nameplateFile" class="control-label"><%- t('PROPERTY:nameplateFile') %></label>
    <table class="fa-edit-attachment">
      <tbody>
      <tr>
        <td class="is-min" style="padding: 0 10px 5px 0"><%- t('FORM:edit:attachment:old') %></td>
        <td style="padding-bottom: 5px">
          <% if (nameplateFile) { %>
          <a href="/fa/ot/<%- documentId %>/attachments/nameplate" target="_blank"><%= nameplateFile.name %></a>
          <% } else { %>
          <%- t('FORM:edit:attachment:empty') %>
          <% } %>
        </td>
      </tr>
      <tr>
        <td class="is-min" style="padding-right: 10px"><%- t('FORM:edit:attachment:new') %></td>
        <td><input id="<%- idPrefix %>-nameplateFile" name="nameplateFile" class="form-control" type="file"></td>
      </tr>
      </tbody>
    </table>
    <% if (checklistFile || certificateFile || nameplateFile) { %>
    <p class="help-block"><%- t('FORM:edit:attachment:help') %></p>
    <% } %>
  </div>
  <% } %>
  <% if (usageDestination === 'external-supplier' && !nameplateFile) { %>
  <div class="message message-inline message-warning">
    <p><%- t('FORM:edit:comment:nameplate') %></p>
  </div>
  <% } %>
  <div class="form-group">
    <label for="<%- idPrefix %>-comment" class="control-label"><%- t('PROPERTY:comment') %></label>
    <textarea id="<%- idPrefix %>-comment" class="form-control" name="comment" rows="3"></textarea>
  </div>
</div>
