<div class="fa-edit-stage" data-stage="document">
  <%- helpers.props(details, [
    '!protocolNeeded',
    '!commissioningType',
    {id: '!extendedDep', visible: model.commissioningType === 'inc-asset'},
    '!usageDestination',
    {id: 'protocolNo', visible: model.protocolNeeded, valueClassName: 'text-fixed'},
    {id: '!protocolDate', visible: model.protocolNeeded},
    {id: 'documentNo', valueClassName: 'text-fixed'},
    helpers.fa.attachmentProp({name: 'protocol', visible: model.protocolNeeded})
  ]) %>
  <div class="form-group">
    <label for="<%- id('documentDate') %>" class="control-label is-required"><%- t('PROPERTY:documentDate') %></label>
    <input id="<%- id('documentDate') %>" name="documentDate" class="form-control fa-edit-short" type="date" data-required>
  </div>
  <div id="<%- id('zplx') %>"></div>
  <div id="<%- id('assets')%>"></div>
  <%- helpers.fa.attachmentFormGroup({
    name: 'outlay',
    required: true,
    accept: ['doc', 'img']
  }) %>
  <%- helpers.fa.attachmentFormGroup({
    name: 'certificate',
    required: true,
    visible: model.usageDestination === 'external-supplier',
    accept: ['doc', 'img']
  }) %>
  <%- helpers.fa.attachmentFormGroup({
    name: 'nameplate',
    required: true,
    visible: model.usageDestination === 'external-supplier',
    accept: ['doc', 'img']
  }) %>
  <% if (model.usageDestination === 'external-supplier' && !model.nameplateFile) { %>
  <div class="message message-inline message-warning">
    <p><%- t('FORM:edit:comment:nameplate') %></p>
  </div>
  <% } %>
  <%- helpers.fa.attachmentFormGroup({
    name: 'attachment'
  }) %>
  <div class="form-group">
    <label for="<%- id('comment') %>" class="control-label"><%- t('PROPERTY:comment') %></label>
    <textarea id="<%- id('comment') %>" class="form-control" name="comment" rows="3"></textarea>
  </div>
</div>
