<div class="fa-edit-stage" data-stage="finished">
  <div class="fa-edit-row">
    <div class="form-group fa-edit-short">
      <label class="control-label"><%- t('PROPERTY:protocolNeeded') %></label>
      <p class="form-control-static"><%- details.protocolNeeded %></p>
    </div>
    <div class="form-group fa-edit-short">
      <label class="control-label"><%- t('PROPERTY:commissioningType') %></label>
      <p class="form-control-static"><%- details.commissioningType %></p>
    </div>
    <div class="form-group">
      <label class="control-label"><%- t('PROPERTY:usageDestination') %></label>
      <p class="form-control-static"><%- details.usageDestination %></p>
    </div>
  </div>
  <% if (model.commissioningType === 'inc-asset') { %>
  <div class="form-group">
    <label class="control-label"><%- t('PROPERTY:extendedDep') %></label>
    <p class="form-control-static"><%- details.extendedDep %></p>
  </div>
  <% } %>
  <% if (model.protocolNeeded) { %>
  <div class="fa-edit-row">
    <div class="form-group fa-edit-short">
      <label for="<%- id('protocolDate') %>" class="control-label is-required"><%- t('PROPERTY:protocolDate') %></label>
      <input id="<%- id('protocolDate') %>" name="protocolDate" class="form-control fa-edit-long" type="date" required>
    </div>
    <div class="form-group">
      <label class="control-label"><%- t('PROPERTY:protocolNo') %></label>
      <p class="form-control-static is-along-inputs"><%- details.protocolNo %></p>
    </div>
  </div>
  <% } %>
  <div class="fa-edit-row">
    <div class="form-group fa-edit-short">
      <label for="<%- id('documentDate') %>" class="control-label is-required"><%- t('PROPERTY:documentDate') %></label>
      <input id="<%- id('documentDate') %>" name="documentDate" class="form-control" type="date" required>
    </div>
    <div class="form-group">
      <label class="control-label"><%- t('PROPERTY:documentNo') %></label>
      <p class="form-control-static is-along-inputs"><%- details.documentNo %></p>
    </div>
  </div>
  <div id="<%- id('zplx') %>"></div>
  <div class="form-group fa-edit-short">
    <label for="<%- id(`postingDate`) %>" class="control-label is-required"><%- t(`PROPERTY:postingDate`) %></label>
    <input id="<%- id(`postingDate`) %>" name="postingDate" class="form-control" type="date" required>
  </div>
  <div id="<%- id('assets')%>"></div>
  <% files.forEach(name => { %>
    <%- helpers.fa.attachmentFormGroup({name}) %>
    <% if (name === 'hrt') { %>
      <button id="<%- id('previewHrt') %>" type="button" class="btn btn-default" style="margin-top: -5px; margin-bottom: 15px">
        <i class="fa fa-file-excel-o"></i><span><%- t('FORM:previewHrt:button') %></span>
      </button>
    <% } %>
  <% }) %>
  <div class="form-group">
    <label for="<%- id('comment') %>" class="control-label"><%- t('PROPERTY:comment') %></label>
    <textarea id="<%- id('comment') %>" class="form-control" name="comment" rows="3"></textarea>
  </div>
</div>
