<div class="fa-edit-stage" data-stage="finished">
  <div class="fa-edit-row">
    <div class="form-group fa-edit-short">
      <label class="control-label"><%- t('PROPERTY:protocolNeeded') %></label>
      <p class="form-control-static"><%- details.protocolNeeded %></p>
    </div>
    <% if (model.protocolNeeded) { %>
    <div class="form-group fa-edit-short">
      <label class="control-label"><%- t('PROPERTY:commissioningType') %></label>
      <p class="form-control-static"><%- details.commissioningType %></p>
    </div>
    <% } %>
    <div class="form-group">
      <label class="control-label"><%- t('PROPERTY:usageDestination') %></label>
      <p class="form-control-static"><%- details.usageDestination %></p>
    </div>
  </div>
  <% if (model.protocolNeeded) { %>
  <div class="fa-edit-row">
    <div class="form-group fa-edit-short">
      <label for="<%- idPrefix %>-protocolDate" class="control-label is-required"><%- t('PROPERTY:protocolDate') %></label>
      <input id="<%- idPrefix %>-protocolDate" name="protocolDate" class="form-control fa-edit-long" type="date" required>
    </div>
    <div class="form-group">
      <label class="control-label"><%- t('PROPERTY:protocolNo') %></label>
      <p class="form-control-static is-along-inputs"><%- details.protocolNo %></p>
    </div>
  </div>
  <% } %>
  <div class="fa-edit-row">
    <div class="form-group fa-edit-short">
      <label for="<%- idPrefix %>-documentDate" class="control-label is-required"><%- t('PROPERTY:documentDate') %></label>
      <input id="<%- idPrefix %>-documentDate" name="documentDate" class="form-control" type="date" required>
    </div>
    <div class="form-group">
      <label class="control-label"><%- t('PROPERTY:documentNo') %></label>
      <p class="form-control-static is-along-inputs"><%- details.documentNo %></p>
    </div>
  </div>
  <div class="form-group fa-edit-long">
    <label for="<%- idPrefix %>-assetName" class="control-label is-required"><%- t('PROPERTY:assetName') %></label>
    <input id="<%- idPrefix %>-assetName" name="assetName" class="form-control" type="text" required maxlength="50">
  </div>
  <div class="fa-edit-row">
    <% if (model.usageDestination === 'factory') { %>
    <div class="form-group fa-edit-short">
      <label for="<%- idPrefix %>-lineSymbol" class="control-label"><%- t('PROPERTY:lineSymbol') %></label>
      <input id="<%- idPrefix %>-lineSymbol" name="lineSymbol" class="form-control" type="text" maxlength="50">
    </div>
    <% } %>
    <div class="form-group fa-edit-short">
      <label for="<%- idPrefix %>-inventoryNo" class="control-label is-required"><%- t('PROPERTY:inventoryNo') %></label>
      <input id="<%- idPrefix %>-inventoryNo" name="inventoryNo" class="form-control" type="text" required maxlength="50">
    </div>
  </div>
  <div id="<%- idPrefix %>-zplx" style="margin-top: 15px"></div>
  <% if (model.protocolNeeded) { %>
  <div id="<%- idPrefix %>-participants" style="margin-top: -10px; margin-bottom: 15px"></div>
  <div class="form-group fa-edit-long" style="margin-top: -10px">
    <label for="<%- idPrefix %>-supplier" class="control-label <%- model.commissioningType === 'new-asset' && model.usageDestination === 'external-supplier' ? '' : 'is-required' %>"><%- t('PROPERTY:supplier') %></label>
    <input id="<%- idPrefix %>-supplier" name="supplier" class="form-control" type="text" <%- model.commissioningType === 'new-asset' && model.usageDestination === 'external-supplier' ? '' : 'required' %> maxlength="200">
  </div>
  <% } %>
  <div id="<%- idPrefix %>-value" style="margin-top: <%- model.protocolNeeded ? 0 : '-10px' %>; margin-bottom: 15px"></div>
  <div id="<%- idPrefix %>-fiscalValue" style="margin-top: <%- model.protocolNeeded ? 0 : '-10px' %>; margin-bottom: 15px"></div>
  <div class="fa-edit-row fa-edit-long">
    <div class="form-group fa-edit-short has-required-select2">
      <label for="<%- idPrefix %>-costCenter" class="control-label is-required"><%- t('PROPERTY:costCenter') %></label>
      <input id="<%- idPrefix %>-costCenter" name="costCenter" type="text" required>
    </div>
    <div class="form-group fa-edit-flex has-required-select2">
      <label for="<%- idPrefix %>-assetClass" class="control-label is-required"><%- t('PROPERTY:assetClass') %></label>
      <input id="<%- idPrefix %>-assetClass" name="assetClass" type="text" required>
    </div>
  </div>
  <% if (model.usageDestination === 'external-supplier') { %>
  <div class="fa-edit-row fa-edit-long">
    <div class="form-group fa-edit-short">
      <label for="<%- idPrefix %>-vendorNo" class="control-label"><%- t('PROPERTY:vendorNo') %></label>
      <input id="<%- idPrefix %>-vendorNo" name="vendorNo" class="form-control" type="text" maxlength="50">
    </div>
    <div class="form-group fa-edit-flex">
      <label for="<%- idPrefix %>-vendorName" class="control-label"><%- t('PROPERTY:vendorName') %></label>
      <input id="<%- idPrefix %>-vendorName" name="vendorName" class="form-control" type="text" maxlength="200">
    </div>
  </div>
  <% } %>
  <div class="form-group">
    <label for="<%- idPrefix %>-deprecationRate" class="control-label"><%- t('PROPERTY:deprecationRate') %></label>
    <div class="input-group">
      <input id="<%- idPrefix %>-deprecationRate" name="deprecationRate" class="form-control text-right" type="number" min="0" max="100" step="0.01" style="width: 114px">
      <div class="input-group-addon" style="width: 54px">%</div>
    </div>
  </div>
  <div class="form-group fa-edit-period" style="margin-top: -5px">
    <label for="<%- idPrefix %>-economicPeriodY" class="control-label"><%- t('PROPERTY:economicPeriod') %></label>
    <div class="input-group">
      <input id="<%- idPrefix %>-economicPeriodY" name="economicPeriodY" class="form-control text-right" type="number" min="0" max="99">
      <div class="input-group-addon"><%- t('fa-common', 'unit:year') %></div>
      <input id="<%- idPrefix %>-economicPeriodM" name="economicPeriodM" class="form-control text-right" type="number" min="0" max="12">
      <div class="input-group-addon"><%- t('fa-common', 'unit:month') %></div>
    </div>
  </div>
  <div class="form-group fa-edit-period">
    <label class="control-label"><%- t('PROPERTY:fiscalPeriod') %></label>
    <div class="input-group">
      <input id="<%- idPrefix %>-fiscalPeriodY" name="fiscalPeriodY" class="form-control text-right" type="text" readonly>
      <div class="input-group-addon"><%- t('fa-common', 'unit:year') %></div>
      <input id="<%- idPrefix %>-fiscalPeriodM" name="fiscalPeriodM" class="form-control text-right" type="text" readonly>
      <div class="input-group-addon"><%- t('fa-common', 'unit:month') %></div>
    </div>
  </div>
  <div class="fa-edit-row">
    <div class="form-group">
      <label for="<%- idPrefix %>-sapNo" class="control-label is-required"><%- t('PROPERTY:sapNo') %></label>
      <input id="<%- idPrefix %>-sapNo" name="sapNo" class="form-control fa-edit-short" type="text" maxlength="50" required>
    </div>
    <div class="form-group">
      <label for="<%- idPrefix %>-accountingNo" class="control-label is-required"><%- t('PROPERTY:accountingNo') %></label>
      <input id="<%- idPrefix %>-accountingNo" name="accountingNo" class="form-control fa-edit-short" type="text" maxlength="50" required>
    </div>
  </div>
  <% files.forEach(function(name) { %>
  <%- helpers.fa.attachmentFormGroup({name: name, help: false}) %>
  <% }) %>
  <div class="form-group">
    <label for="<%- idPrefix %>-comment" class="control-label"><%- t('PROPERTY:comment') %></label>
    <textarea id="<%- idPrefix %>-comment" class="form-control" name="comment" rows="3"></textarea>
  </div>
</div>
