<div class="fa-edit-stage" data-stage="record">
  <%- helpers.props(details, [
    '!protocolNeeded',
    '!commissioningType',
    '!usageDestination',
    {id: '!protocolDate', visible: protocolNeeded},
    {id: 'protocolNo', visible: protocolNeeded},
    'documentDate',
    'no',
    'assetName',
    {id: 'lineSymbol', visible: usageDestination === 'factory'},
    {id: '!zplx', value: function(zplxs)
    {
      return '<ul>'
        + zplxs.map(function(zplx)
        {
          return '<li><span class="text-mono">ZPLX' + zplx.code + '</span>'
            + (zplx.value ? (' (' + zplx.value + ')') : '');
        }).join('')
        + '</ul>';
    }},
    {id: '!owner', visible: protocolNeeded},
    {id: '!committee', visible: protocolNeeded, value: function(users)
    {
      if (users.length === 0)
      {
        return '';
      }

      if (users.length === 1)
      {
        return users[0];
      }

      return '<ul>'
        + users.map(function(user) { return '<li>' + user; }).join('')
        + '</ul>';
    }},
    'supplier',
    'value',
    'costCenter',
    'destination',
    {id: 'vendorNo', visible: usageDestination === 'external-supplier'},
    {id: 'vendorName', visible: usageDestination === 'external-supplier'},
    'redemptionRate',
    'economicPeriod',
    'fiscalPeriod',
    {id: '!protocolFile', visible: protocolNeeded, value: function(file)
    {
      return file
        ? ('<a href="' + url + '/attachments/protocol" target="_blank">' + _.escape(file.name) + '</a>')
        : t('FORM:edit:attachment:empty');
    }},
    {id: '!checklistFile', value: function(file)
    {
      return file
        ? ('<a href="' + url + '/attachments/checklist" target="_blank">' + _.escape(file.name) + '</a>')
        : t('FORM:edit:attachment:empty');
    }},
    {id: '!certificateFile', visible: usageDestination === 'external-supplier', value: function(file)
    {
      return file
        ? ('<a href="' + url + '/attachments/certificate" target="_blank">' + _.escape(file.name) + '</a>')
        : t('FORM:edit:attachment:empty');
    }},
    {id: '!nameplateFile', visible: usageDestination === 'external-supplier', value: function(file)
    {
      return file
        ? ('<a href="' + url + '/attachments/nameplate" target="_blank">' + _.escape(file.name) + '</a>')
        : t('FORM:edit:attachment:empty');
    }}
  ]) %>
  <div class="form-group fa-edit-short">
    <label for="<%- idPrefix %>-inventoryNo" class="control-label is-required"><%- t('PROPERTY:inventoryNo') %></label>
    <input id="<%- idPrefix %>-inventoryNo" name="inventoryNo" class="form-control" type="text" data-required>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-sapNo" class="control-label is-required"><%- t('PROPERTY:sapNo') %></label>
    <input id="<%- idPrefix %>-sapNo" name="sapNo" class="form-control fa-edit-short" type="text" data-required>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-accountingNo" class="control-label is-required"><%- t('PROPERTY:accountingNo') %></label>
    <input id="<%- idPrefix %>-accountingNo" name="accountingNo" class="form-control fa-edit-short" type="text" data-required>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-comment" class="control-label"><%- t('PROPERTY:comment') %></label>
    <textarea id="<%- idPrefix %>-comment" class="form-control" name="comment" rows="3"></textarea>
  </div>
</div>
