<div class="fa-edit-stage" data-stage="verify">
  <%- helpers.props(details, [
    '!protocolNeeded',
    '!commissioningType',
    '!usageDestination',
    {id: 'protocolNo', visible: model.protocolNeeded, valueClassName: 'text-fixed'},
    {id: '!protocolDate', visible: model.protocolNeeded},
    {id: 'documentNo', valueClassName: 'text-fixed'},
    '!documentDate',
    {id: 'lineSymbol', visible: model.usageDestination === 'factory', valueClassName: 'text-fixed'},
    {id: '!owner', visible: model.protocolNeeded},
    helpers.fa.committeeProp({visible: model.protocolNeeded}),
    'supplier',
    'value',
    {id: 'costCenter', valueClassName: 'text-fixed'},
    {id: 'vendorNo', visible: model.usageDestination === 'external-supplier', valueClassName: 'text-fixed'},
    {id: 'vendorName', visible: model.usageDestination === 'external-supplier'},
    helpers.fa.attachmentProp({name: 'protocol', visible: model.protocolNeeded}),
    helpers.fa.attachmentProp({name: 'checklist'}),
    helpers.fa.attachmentProp({name: 'certificate', visible: model.usageDestination === 'external-supplier'}),
    helpers.fa.attachmentProp({name: 'nameplate', visible: model.usageDestination === 'external-supplier'})
  ]) %>
  <div class="form-group">
    <label for="<%- idPrefix %>-assetName" class="control-label is-required"><%- t('PROPERTY:assetName') %></label>
    <input id="<%- idPrefix %>-assetName" name="assetName" class="form-control fa-edit-long" type="text" data-required data-maxlength="50 200">
  </div>
  <div id="<%- idPrefix %>-zplx"></div>
  <div class="form-group fa-edit-long has-required-select2">
    <label for="<%- idPrefix %>-destination" class="control-label is-required"><%- t('PROPERTY:destination') %></label>
    <input id="<%- idPrefix %>-destination" name="destination" type="text" data-required>
  </div>
  <div class="form-group fa-edit-short">
    <label for="<%- idPrefix %>-inventoryNo" class="control-label is-required"><%- t('PROPERTY:inventoryNo') %></label>
    <input id="<%- idPrefix %>-inventoryNo" name="inventoryNo" class="form-control" type="text" data-required maxlength="50">
  </div>
  <div id="<%- idPrefix %>-fiscalValue" style="margin-bottom: 15px"></div>
  <div class="form-group">
    <label for="<%- idPrefix %>-deprecationRate" class="control-label"><%- t('PROPERTY:deprecationRate') %></label>
    <div class="input-group">
      <input id="<%- idPrefix %>-deprecationRate" name="deprecationRate" class="form-control text-right" type="number" min="0" max="100" style="width: 114px">
      <div class="input-group-addon" style="width: 54px">%</div>
    </div>
  </div>
  <div class="form-group fa-edit-period" style="margin-top: -5px">
    <label for="<%- idPrefix %>-economicPeriodY" class="control-label"><%- t('PROPERTY:economicPeriod') %></label>
    <div class="input-group">
      <input id="<%- idPrefix %>-economicPeriodY" name="economicPeriodY" class="form-control text-right" type="number" min="0" max="99">
      <div class="input-group-addon"><%- t('fa-common', 'unit:year') %></div>
      <input id="<%- idPrefix %>-economicPeriodM" name="economicPeriodM" class="form-control text-right" type="number" min="0" max="12">
      <div class="input-group-addon"><%- t('fa-common', 'unit:month') %></div>
    </div>
  </div>
  <div class="form-group fa-edit-period">
    <label class="control-label"><%- t('PROPERTY:fiscalPeriod') %></label>
    <div class="input-group">
      <input id="<%- idPrefix %>-fiscalPeriodY" name="fiscalPeriodY" class="form-control text-right" type="text" readonly>
      <div class="input-group-addon"><%- t('fa-common', 'unit:year') %></div>
      <input id="<%- idPrefix %>-fiscalPeriodM" name="fiscalPeriodM" class="form-control text-right" type="text" readonly>
      <div class="input-group-addon"><%- t('fa-common', 'unit:month') %></div>
    </div>
  </div>
  <%- helpers.fa.attachmentFormGroup({name: 'attachment'}) %>
  <div class="form-group">
    <label for="<%- idPrefix %>-comment" class="control-label"><%- t('PROPERTY:comment') %></label>
    <textarea id="<%- idPrefix %>-comment" class="form-control" name="comment" rows="3"></textarea>
  </div>
</div>
