<div class="fa-edit-stage" data-stage="verify">
  <%- helpers.props(details, [
    '!protocolNeeded',
    '!commissioningType',
    {id: '!extendedDep', visible: model.commissioningType === 'inc-asset'},
    '!usageDestination',
    {id: 'protocolNo', visible: model.protocolNeeded, valueClassName: 'text-fixed'},
    {id: '!protocolDate', visible: model.protocolNeeded},
    {id: 'documentNo', valueClassName: 'text-fixed'},
    '!documentDate',
    helpers.fa.attachmentProp({name: 'protocol', visible: model.protocolNeeded}),
    helpers.fa.attachmentProp({name: 'outlay'}),
    helpers.fa.attachmentProp({name: 'certificate', visible: model.usageDestination === 'external-supplier'}),
    helpers.fa.attachmentProp({name: 'nameplate', visible: model.usageDestination === 'external-supplier'})
  ]) %>
  <div id="<%- id('zplx') %>"></div>
  <div class="form-group fa-edit-short">
    <label for="<%- id(`postingDate`) %>" class="control-label is-required"><%- t(`PROPERTY:postingDate`) %></label>
    <input id="<%- id(`postingDate`) %>" name="postingDate" class="form-control" type="date" data-required>
  </div>
  <div id="<%- id('assets')%>"></div>
  <%- helpers.fa.attachmentFormGroup({
    accept: '.xlsx,.xlsm,.xlsb',
    name: 'hrt'
  }) %>
  <p class="message message-inline message-info" style="margin-top: -5px"><%- t('FORM:previewHrt:info') %></p>
  <button id="<%- id('previewHrt') %>" type="button" class="btn btn-default" style="margin-top: 10px; margin-bottom: 15px">
    <i class="fa fa-file-excel-o"></i><span><%- t('FORM:previewHrt:button') %></span>
  </button>
  <%- helpers.fa.attachmentFormGroup({name: 'attachment'}) %>
  <div class="form-group">
    <label for="<%- id('comment') %>" class="control-label"><%- t('PROPERTY:comment') %></label>
    <textarea id="<%- id('comment') %>" class="form-control" name="comment" rows="3"></textarea>
  </div>
</div>
