<div class="form-group" style="margin-bottom: <%- multiple ? 5 : 15 %>px">
  <label class="control-label is-required"><%- t('FORM:edit:zplx:label') %></label>
  <div id="<%- id('zplx') %>" class="fa-edit-zplx-list">
    <% zplx.forEach(function(d, i) { %>
    <div class="fa-edit-zplx-item">
      <input name="zplx[<%- i %>].code" class="form-control text-fixed fa-edit-zplx-code" type="text" value="" placeholder="" maxlength="12" pattern="^(ZPLX|zplx)?[0-9]{1,8}$" <%- readOnly ? 'readonly tabindex="-1"' : '' %>>
      <% if (value) { %>
      <span class="fa-edit-zplx-prefix"><%- t('fa-common', 'unit:currency') %></span>
      <input name="zplx[<%- i %>].value" class="form-control fa-edit-zplx-value" type="text" value="" placeholder="0 000 000,00" <%- readOnly ? 'readonly tabindex="-1"' : '' %>>
      <% } %>
      <% if (auc) { %>
      <span class="fa-edit-zplx-prefix">AuC</span>
      <input name="zplx[<%- i %>].auc" class="form-control text-fixed fa-edit-zplx-auc" type="text" value="" maxlength="50">
      <% } %>
      <% if (!readOnly) { %>
      <button class="btn btn-link" type="button" data-action="zplx:remove" title="<%- t('FORM:edit:zplx:remove') %>"><i class="fa fa-times"></i></button>
      <% } %>
    </div>
    <% }) %>
  </div>
  <% if (!readOnly && multiple) { %>
  <button class="btn btn-link" type="button" data-action="zplx:add"><i class="fa fa-plus"></i><span><%- t('FORM:edit:zplx:add') %></span></button>
  <% } %>
</div>
