<div class="form-group" style="margin-bottom: 15px">
  <label class="control-label is-required"><%- t('PROPERTY:zplx') %></label>
  <div id="<%- idPrefix %>-zplx" class="fa-edit-zplx-list">
    <% zplx.forEach(function(v) { %>
    <div class="fa-edit-zplx-item">
      <span class="fa-edit-zplx-prefix">ZPLX</span>
      <input name="zplx[]" class="form-control text-mono" type="text" value="<%- v %>" placeholder="00000000" maxlength="8" pattern="^[0-9]{8}$">
      <button class="btn btn-link" type="button" data-action="zplx:remove" title="<%- t('FORM:edit:zplx:remove') %>"><i class="fa fa-times"></i></button>
    </div>
    <% }) %>
  </div>
  <button class="btn btn-link" type="button" data-action="zplx:add"><i class="fa fa-plus"></i><span><%- t('FORM:edit:zplx:add') %></span></button>
</div>
