<form method="post" action="<%- formAction %>">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="form-group">
        <div class="checkbox">
          <label class="control-label">
            <input type="checkbox" name="active" value="true">
            <%- t('PROPERTY:active') %>
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="<%- id('_id') %>" class="control-label is-required"><%- t('PROPERTY:_id') %></label>
        <input id="<%- id('_id') %>" class="form-control" type="text" name="_id" required maxlength="20">
      </div>
      <div class="form-group">
        <label for="<%- id('description') %>" class="control-label"><%- t('PROPERTY:description') %></label>
        <input id="<%- id('description') %>" class="form-control" type="text" name="description">
      </div>
      <div class="form-group">
        <label for="<%- id('owner') %>" class="control-label"><%- t('PROPERTY:owner') %></label>
        <input id="<%- id('owner') %>" type="text" name="owner">
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
