<div class="row fa-lt-details-props">
  <div class="col-md-6" style="margin-bottom: 20px">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="visible-print"><%= model.no %></span>
        <span class="hidden-print"><%- helpers.t('PANEL:TITLE:details') %></span>
      </div>
      <div class="panel-details">
        <%- helpers.props(model, [
          '!kind',
          {id: 'mergeInventoryNo', visible: kind === 'merge', valueClassName: 'text-mono'},
          {id: 'mergeLineSymbol', visible: kind === 'merge', valueClassName: 'text-mono'},
          {id: 'mergeType', visible: kind === 'merge'},
          {id: 'no', valueClassName: 'text-mono'},
          'date',
          {id: 'inventoryNo', valueClassName: 'text-mono'},
          'assetName',
          {id: 'costCenter', valueClassName: 'text-mono'},
          {id: '!applicant'},
          {id: 'cause', valueClassName: 'text-lines'},
          'initialValue',
          'deprecationValue',
          'netValue',
          'economicDeprecationValue',
          'economicNetValue',
          {id: 'buyerName', visible: kind === 'sale'},
          {id: 'buyerAddress', visible: kind === 'sale', valueClassName: 'text-lines'},
          {id: 'saleValue', visible: kind === 'sale'},
          {id: 'sapNo', valueClassName: 'text-mono'},
          {id: 'accountingNo', valueClassName: 'text-mono'}
        ]) %>
      </div>
    </div>
  </div>
  <div class="col-md-6 hidden-print">
    <div class="panel panel-default">
      <div class="panel-heading"><%- helpers.t('PANEL:TITLE:stages') %></div>
      <div class="panel-details">
        <%

          function renderStage(stage)
          {
            var html = '';

            if (stage.who)
            {
              html += '<i class="fa fa-clock-o"></i><span>' + stage.when + '</span><br>';
              html += '<i class="fa fa-user-o"></i><span>' + stage.who + '</span>';
            }

            return html;
          }

          var stages = Object.keys(model.stages).map(function(id)
          {
            return {
              id: '!stage:' + id,
              label: t.has('details:stage:' + id) ? t('details:stage:' + id) : t('stage:' + id),
              value: renderStage.bind(null, model.stages[id])
            };
          });

        %>
        <%- helpers.props(model, ['stage'].concat(stages)) %>
      </div>
    </div>
  </div>
</div>
