<div class="row fa-lt-details-props">
  <div class="col-md-7" style="margin-bottom: 20px">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="visible-print"><%= details.no %></span>
        <span class="hidden-print"><%- t('PANEL:TITLE:details') %></span>
      </div>
      <div class="panel-details">
        <%- helpers.props(details, [
          '!kind',
          {id: 'mergeInventoryNo', visible: model.kind === 'merge', valueClassName: 'text-fixed'},
          {id: 'mergeLineSymbol', visible: model.kind === 'merge', valueClassName: 'text-fixed'},
          {id: 'mergeType', visible: model.kind === 'merge'},
          {id: 'protocolNo', valueClassName: 'text-fixed'},
          '!protocolDate',
          {id: 'documentNo', valueClassName: 'text-fixed'},
          '!documentDate',
          'assetName',
          {id: 'inventoryNo', valueClassName: 'text-fixed'},
          {id: 'costCenter', valueClassName: 'text-fixed'},
          {id: '!owner'},
          {id: '!applicant'},
          helpers.fa.committeeProp(),
          {id: 'cause', valueClassName: 'text-lines'},
          'initialValue',
          'deprecationValue',
          'netValue',
          'economicInitialValue',
          'economicDeprecationValue',
          'economicNetValue',
          helpers.fa.assetsProp(),
          {id: 'subAssetNo', valueClassName: 'text-fixed'},
          '!postingDate',
          '!valuationDate',
          {id: 'buyerName', visible: model.kind === 'sale'},
          {id: 'buyerAddress', visible: model.kind === 'sale', valueClassName: 'text-lines'},
          {id: 'saleValue', visible: model.kind === 'sale'},
          {id: 'accountingNo', valueClassName: 'text-fixed'},
          {id: 'odwNo', valueClassName: 'text-fixed'},
          {id: 'tplNotes', valueClassName: 'text-lines'}
        ]) %>
      </div>
    </div>
  </div>
  <div class="col-md-5 hidden-print">
    <div class="panel panel-default">
      <div class="panel-heading"><%- t('PANEL:TITLE:attachments') %></div>
      <div class="panel-details">
        <%- helpers.props(details, [
          helpers.fa.attachmentProp({name: 'handover', visible: model.kind === 'sale'}),
          helpers.fa.attachmentProp({name: 'invoice', visible: model.kind === 'sale'}),
          helpers.fa.attachmentProp({name: 'hrt'}),
          helpers.fa.attachmentProp({name: 'attachment'})
        ]) %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><%- t('PANEL:TITLE:stages') %></div>
      <div class="panel-details">
        <%

          function renderStage(stage)
          {
            var html = '';

            if (stage.who)
            {
              html += '<i class="fa fa-clock-o"></i><span>' + stage.when + '</span><br>';
              html += '<i class="fa fa-user-o"></i><span>' + stage.who + '</span>';
            }

            return html;
          }

          var stages = Object.keys(details.stages).map(id =>
          {
            return {
              id: `!stage:${id}`,
              label: t.has(`details:stage:${id}`) ? t(`details:stage:${id}`, {kind: details.kind}) : t(`stage:${id}`, {kind: details.kind}),
              value: renderStage.bind(null, details.stages[id]),
              visible: id !== 'finished' && id !== 'cancelled'
            };
          });

        %>
        <%- helpers.props(details, ['stage'].concat(stages)) %>
      </div>
    </div>
  </div>
</div>
