<form class="well filter-form">
  <%- forms.dateTimeRange({
    idPrefix: idPrefix,
    property: 'date',
    type: 'date',
    utc: true,
    labels: {text: t('PROPERTY:date'), ranges: true}
  }) %>
  <div class="form-group hidden" data-filter="kind">
    <label for="<%- idPrefix %>-kind"><%- t('PROPERTY:kind') %></label>
    <select id="<%- idPrefix %>-kind" class="form-control is-expandable" name="kind[]" multiple size="1" data-expanded-length="10">
      <% kinds.forEach(function(v) { %>
      <option value="<%- v %>"><%- t('kind:short:' + v) %></option>
      <% }) %>
    </select>
  </div>
  <div class="form-group hidden" data-filter="stage">
    <label for="<%- idPrefix %>-stage"><%- t('PROPERTY:stage') %></label>
    <select id="<%- idPrefix %>-stage" class="form-control is-expandable" name="stage[]" multiple size="1" data-expanded-length="10">
      <% statuses.forEach(function(v) { %>
      <option value="<%- v %>"><%- t('stage:' + v, {kind: 'unspecified'}) %></option>
      <% }) %>
    </select>
  </div>
  <div class="form-group hidden" data-filter="assetNo">
    <label for="<%- idPrefix %>-assetNo"><%- t('PROPERTY:assets.no') %></label>
    <input id="<%- idPrefix %>-assetNo" class="form-control" name="assetNo" type="text" style="width: 130px">
  </div>
  <div class="form-group hidden" data-filter="assetName">
    <label for="<%- idPrefix %>-assetName"><%- t('PROPERTY:assetName') %></label>
    <input id="<%- idPrefix %>-assetName" class="form-control" name="assetName" type="text">
  </div>
  <div class="form-group hidden" data-filter="inventoryNo">
    <label for="<%- idPrefix %>-inventoryNo"><%- t('PROPERTY:inventoryNo') %></label>
    <input id="<%- idPrefix %>-inventoryNo" class="form-control" name="inventoryNo" type="text" style="width: 130px">
  </div>
  <div class="form-group hidden" data-filter="costCenter">
    <label for="<%- idPrefix %>-costCenter"><%- t('PROPERTY:costCenter') %></label>
    <input id="<%- idPrefix %>-costCenter" name="costCenter" type="text">
  </div>
  <%- renderLimit({hidden: true}) %>
  <div class="form-group filter-actions">
    <div class="btn-group">
      <button id="<%- idPrefix %>-submit" type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%- t('core', 'filter:submit') %></span></button>
      <button id="<%- idPrefix %>-reset" type="button" class="btn btn-default filter-reset" title="<%- t('core', 'filter:reset') %>"><i class="fa fa-eraser"></i><span><%- t('core', 'filter:reset') %></span></button>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="<%- t('core', 'filter:filters') %>"><span class="caret"></span></button>
      <ul class="dropdown-menu">
        <% filters.forEach(function(filter) { %>
        <li><a data-filter="<%- filter %>"><%- t.has('filter:' + filter) ? t('filter:' + filter) : t('PROPERTY:' + filter) %></a></li>
        <% }) %>
      </ul>
    </div>
  </div>
</form>
