<form method="post" action="<%- formAction %>">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="form-group">
        <div class="checkbox">
          <label class="control-label">
            <input type="checkbox" name="active" value="true">
            <%- helpers.t('PROPERTY:active') %>
          </label>
        </div>
      </div>
      <%- helpers.formGroup({
        id: '_id',
        label: 'PROPERTY:',
        required: true,
        maxLength: 4,
        pattern: '^[A-Z0-9]{4}$'
      }) %>
      <%- helpers.formGroup({
        id: 'name',
        label: 'PROPERTY:',
        required: true,
        maxLength: 100
      }) %>
      <%- helpers.formGroup({
        id: 'years',
        type: 'number',
        label: 'PROPERTY:',
        required: true,
        min: 0,
        max: 100,
        step: 1
      }) %>
      <%- helpers.formGroup({
        id: 'months',
        type: 'number',
        label: 'PROPERTY:',
        required: true,
        min: 0,
        max: 11,
        step: 1
      }) %>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
