<div class="fa-edit-stage" data-stage="<%- stage %>">
  <%- helpers.props(details, [
    '!kind',
    {id: 'mergeInventoryNo', visible: kind === 'merge', valueClassName: 'text-mono'},
    {id: 'mergeLineSymbol', visible: kind === 'merge', valueClassName: 'text-mono'},
    {id: 'mergeType', visible: kind === 'merge'},
    {id: 'no', valueClassName: 'text-mono'},
    'date',
    {id: 'inventoryNo', valueClassName: 'text-mono'},
    'assetName',
    {id: 'costCenter', valueClassName: 'text-mono'},
    {id: '!applicant'},
    {id: 'cause', valueClassName: 'text-lines'},
    'initialValue',
    'deprecationValue',
    'netValue',
    'economicDeprecationValue',
    'economicNetValue',
    {id: 'buyerName', visible: kind === 'sale'},
    {id: 'buyerAddress', visible: kind === 'sale', valueClassName: 'text-lines'},
    {id: 'saleValue', visible: kind === 'sale'}
  ]) %>
  <div class="form-group">
    <label for="<%- idPrefix %>-comment" class="control-label"><%- t('PROPERTY:comment') %></label>
    <textarea id="<%- idPrefix %>-comment" class="form-control" name="comment" rows="3"></textarea>
  </div>
</div>
