<div class="fa-edit-stage" data-stage="<%- stage %>">
  <%- helpers.props(details, [
    '!kind',
    {id: 'otherNotes', visible: kind === 'other', valueClassName: 'text-lines'},
    {id: 'mergeInventoryNo', visible: kind === 'merge'},
    {id: 'mergeLineSymbol', visible: kind === 'merge'},
    {id: 'mergeType', visible: kind === 'merge'},
    {id: 'mergeNotes', visible: kind === 'merge', valueClassName: 'text-lines'},
    'no',
    'date',
    'inventoryNo',
    'assetName',
    'costCenter',
    {id: '!applicant'},
    {id: 'cause', valueClassName: 'text-lines'},
    'initialValue',
    'deprecationValue',
    'netValue',
    'economicDeprecationValue',
    'economicNetValue',
    {id: 'verifyNotes', valueClassName: 'text-lines'},
    {id: 'buyerName', visible: kind === 'sale'},
    {id: 'buyerAddress', visible: kind === 'sale', valueClassName: 'text-lines'},
    {id: 'saleValue', visible: kind === 'sale'}
  ]) %>
  <div class="form-group" style="margin-top: 15px">
    <label for="<%- idPrefix %>-comment" class="control-label"><%- t('PROPERTY:comment') %></label>
    <textarea id="<%- idPrefix %>-comment" class="form-control" name="comment" rows="3"></textarea>
  </div>
</div>
