<div class="fa-edit-stage" data-stage="acceptDocument">
  <%- helpers.props(details, [
    '!kind',
    {id: 'mergeInventoryNo', visible: model.kind === 'merge', valueClassName: 'text-fixed'},
    {id: 'mergeLineSymbol', visible: model.kind === 'merge', valueClassName: 'text-fixed'},
    {id: 'mergeType', visible: model.kind === 'merge'},
    {id: 'protocolNo', valueClassName: 'text-fixed'},
    'protocolDate',
    {id: 'documentNo', valueClassName: 'text-fixed'},
    'assetName',
    {id: 'inventoryNo', valueClassName: 'text-fixed'},
    {id: 'costCenter', valueClassName: 'text-fixed'},
    {id: '!owner'},
    {id: '!applicant'},
    helpers.fa.committeeProp(),
    {id: 'cause', valueClassName: 'text-lines'},
    'initialValue',
    'deprecationValue',
    'netValue',
    'economicInitialValue',
    'economicDeprecationValue',
    'economicNetValue',
    {id: 'sapNo', valueClassName: 'text-fixed'}
  ]) %>
  <div class="form-group">
    <label for="<%- idPrefix %>-documentDate" class="control-label is-required"><%- t('PROPERTY:documentDate') %></label>
    <input id="<%- idPrefix %>-documentDate" name="documentDate" class="form-control fa-edit-short" type="date" data-required>
  </div>
  <% if (model.kind === 'sale') { %>
    <div class="form-group">
      <label for="<%- idPrefix %>-buyerName" class="control-label is-required"><%- t('PROPERTY:buyerName') %></label>
      <input id="<%- idPrefix %>-buyerName" class="form-control fa-edit-long" name="buyerName" data-required maxlength="200">
    </div>
    <div class="form-group">
      <label for="<%- idPrefix %>-buyerAddress" class="control-label"><%- t('PROPERTY:buyerAddress') %></label>
      <textarea id="<%- idPrefix %>-buyerAddress" class="form-control fa-edit-long" name="buyerAddress" rows="3"></textarea>
    </div>
    <div id="<%- idPrefix %>-saleValue" style="margin-bottom: 15px"></div>
  <% } %>
  <%- helpers.fa.attachmentFormGroup({name: 'attachment'}) %>
  <div class="form-group">
    <label for="<%- idPrefix %>-comment" class="control-label"><%- t('PROPERTY:comment') %></label>
    <textarea id="<%- idPrefix %>-comment" class="form-control" name="comment" rows="3"></textarea>
  </div>
</div>
