<div class="fa-edit-stage" data-stage="finished">
  <div class="form-group">
    <label class="control-label"><%- t('PROPERTY:kind') %></label>
    <p class="form-control-static"><%- details.kind %></p>
  </div>
  <% if (model.kind === 'merge') { %>
  <div class="fa-edit-row">
    <div class="form-group fa-edit-short">
      <label for="<%- idPrefix %>-mergeInventoryNo" class="control-label is-required"><%- t('PROPERTY:mergeInventoryNo') %></label>
      <input id="<%- idPrefix %>-mergeInventoryNo" name="mergeInventoryNo" class="form-control" type="text" required>
    </div>
    <div class="form-group fa-edit-short">
      <label for="<%- idPrefix %>-mergeLineSymbol" class="control-label"><%- t('PROPERTY:mergeLineSymbol') %></label>
      <input id="<%- idPrefix %>-mergeLineSymbol" name="mergeLineSymbol" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label class="control-label"><%- t('PROPERTY:mergeType') %></label>
      <% mergeTypes.forEach(function(v) { %>
        <br>
        <label class="radio-inline">
          <input type="radio" name="mergeType" value="<%- v %>" required>
          <%- t('mergeType:' + v) %>
        </label>
      <% }) %>
    </div>
  </div>
  <% } %>
  <div class="fa-edit-row">
    <div class="form-group fa-edit-short">
      <label for="<%- idPrefix %>-protocolDate" class="control-label is-required"><%- t('PROPERTY:protocolDate') %></label>
      <input id="<%- idPrefix %>-protocolDate" name="protocolDate" class="form-control" type="date" required>
    </div>
    <div class="form-group">
      <label class="control-label"><%- t('PROPERTY:protocolNo') %></label>
      <p class="form-control-static is-along-inputs"><%- details.protocolNo %></p>
    </div>
  </div>
  <div class="fa-edit-row">
    <div class="form-group fa-edit-short">
      <label for="<%- idPrefix %>-documentDate" class="control-label is-required"><%- t('PROPERTY:documentDate') %></label>
      <input id="<%- idPrefix %>-documentDate" name="documentDate" class="form-control" type="date" required>
    </div>
    <div class="form-group">
      <label class="control-label"><%- t('PROPERTY:documentNo') %></label>
      <p class="form-control-static is-along-inputs"><%- details.documentNo %></p>
    </div>
  </div>
  <div class="form-group fa-edit-long">
    <label for="<%- idPrefix %>-assetName" class="control-label is-required"><%- t('PROPERTY:assetName') %></label>
    <input id="<%- idPrefix %>-assetName" name="assetName" class="form-control" type="text" required maxlength="50">
  </div>
  <div class="form-group fa-edit-short">
    <label for="<%- idPrefix %>-inventoryNo" class="control-label is-required"><%- t('PROPERTY:inventoryNo') %></label>
    <input id="<%- idPrefix %>-inventoryNo" name="inventoryNo" class="form-control" type="text" required maxlength="50">
  </div>
  <div class="form-group fa-edit-short has-required-select2">
    <label for="<%- idPrefix %>-costCenter" class="control-label is-required"><%- t('PROPERTY:costCenter') %></label>
    <input id="<%- idPrefix %>-costCenter" name="costCenter" required>
  </div>
  <div class="form-group fa-edit-long has-required-select2">
    <label for="<%- idPrefix %>-owner" class="control-label is-required"><%- t('PROPERTY:owner') %></label>
    <input id="<%- idPrefix %>-owner" name="owner" type="text" required>
  </div>
  <div class="form-group fa-edit-long has-required-select2">
    <label for="<%- idPrefix %>-applicant" class="control-label is-required"><%- t('PROPERTY:applicant') %></label>
    <input id="<%- idPrefix %>-applicant" name="applicant" type="text" required>
  </div>
  <div class="form-group fa-edit-long has-required-select2">
    <label for="<%- idPrefix %>-committee" class="control-label is-required"><%- t('PROPERTY:committee') %></label>
    <input id="<%- idPrefix %>-committee" name="committee" type="text" required>
  </div>
  <div class="form-group fa-edit-long">
    <label for="<%- idPrefix %>-cause" class="control-label is-required"><%- t('PROPERTY:cause') %></label>
    <textarea id="<%- idPrefix %>-cause" name="cause" class="form-control" rows="3" required></textarea>
  </div>
  <div class="fa-edit-row">
    <div id="<%- idPrefix %>-initialValue" style="margin: 0 15px 15px 0"></div>
    <div id="<%- idPrefix %>-economicInitialValue" style="margin-bottom: 15px"></div>
  </div>
  <div class="fa-edit-row">
    <div id="<%- idPrefix %>-deprecationValue" style="margin: 0 15px 15px 0"></div>
    <div id="<%- idPrefix %>-economicDeprecationValue" style="margin-bottom: 15px"></div>
  </div>
  <div class="fa-edit-row">
    <div id="<%- idPrefix %>-netValue" style="margin: 0 15px 15px 0"></div>
    <div id="<%- idPrefix %>-economicNetValue" style="margin-bottom: 15px"></div>
  </div>
  <% if (model.kind === 'sale') { %>
  <div class="form-group">
    <label for="<%- idPrefix %>-buyerName" class="control-label is-required"><%- t('PROPERTY:buyerName') %></label>
    <input id="<%- idPrefix %>-buyerName" class="form-control fa-edit-long" name="buyerName" required maxlength="200">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-buyerAddress" class="control-label"><%- t('PROPERTY:buyerAddress') %></label>
    <textarea id="<%- idPrefix %>-buyerAddress" class="form-control fa-edit-long" name="buyerAddress" rows="3"></textarea>
  </div>
  <div id="<%- idPrefix %>-saleValue" style="margin-bottom: 15px"></div>
  <% } %>
  <div class="fa-edit-row">
    <div class="form-group">
      <label for="<%- idPrefix %>-sapNo" class="control-label is-required"><%- t('PROPERTY:sapNo') %></label>
      <input id="<%- idPrefix %>-sapNo" name="sapNo" class="form-control fa-edit-short" type="text" required maxlength="50">
    </div>
    <div class="form-group">
      <label for="<%- idPrefix %>-accountingNo" class="control-label is-required"><%- t('PROPERTY:accountingNo') %></label>
      <input id="<%- idPrefix %>-accountingNo" name="accountingNo" class="form-control fa-edit-short" type="text" required maxlength="50">
    </div>
  </div>
  <% files.forEach(function(name) { %>
    <%- helpers.fa.attachmentFormGroup({name: name}) %>
  <% }) %>
  <div class="form-group">
    <label for="<%- idPrefix %>-comment" class="control-label"><%- t('PROPERTY:comment') %></label>
    <textarea id="<%- idPrefix %>-comment" class="form-control" name="comment" rows="3"></textarea>
  </div>
</div>
