<div class="fa-edit-stage" data-stage="protocol">
  <div class="form-group">
    <label class="control-label"><%- t('PROPERTY:kind') %></label>
    <p class="form-control-static"><%- details.kind %></p>
  </div>
  <div class="form-group">
    <label class="control-label"><%- t('PROPERTY:no') %></label>
    <p class="form-control-static"><%- details.no %></p>
  </div>
  <div class="form-group fa-edit-short">
    <label for="<%- idPrefix %>-date" class="control-label is-required"><%- t('PROPERTY:date') %></label>
    <input id="<%- idPrefix %>-date" name="date" class="form-control fa-edit-long" type="date" data-required>
  </div>
  <div class="form-group fa-edit-short">
    <label for="<%- idPrefix %>-inventoryNo" class="control-label is-required"><%- t('PROPERTY:inventoryNo') %></label>
    <input id="<%- idPrefix %>-inventoryNo" name="inventoryNo" class="form-control" type="text" data-required>
  </div>
  <div class="form-group fa-edit-long">
    <label for="<%- idPrefix %>-assetName" class="control-label is-required"><%- t('PROPERTY:assetName') %></label>
    <input id="<%- idPrefix %>-assetName" name="assetName" class="form-control" type="text" data-required>
  </div>
  <div class="form-group fa-edit-long has-required-select2">
    <label for="<%- idPrefix %>-usageDestination" class="control-label is-required"><%- t('PROPERTY:usageDestination') %></label>
    <input id="<%- idPrefix %>-usageDestination" name="usageDestination" type="text" data-required>
  </div>
  <div class="form-group fa-edit-long">
    <label for="<%- idPrefix %>-applicant" class="control-label is-required"><%- t('PROPERTY:applicant') %></label>
    <input id="<%- idPrefix %>-applicant" name="applicant" type="text" data-required>
  </div>
  <div class="form-group fa-edit-long">
    <label for="<%- idPrefix %>-cause" class="control-label is-required"><%- t('PROPERTY:cause') %></label>
    <textarea id="<%- idPrefix %>-cause" name="cause" class="form-control" rows="3" data-required></textarea>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-comment" class="control-label"><%- t('PROPERTY:comment') %></label>
    <textarea id="<%- idPrefix %>-comment" class="form-control" name="comment" rows="3"></textarea>
  </div>
</div>
