<div class="fa-edit-stage" data-stage="record">
  <%- helpers.props(details, [
    '!kind',
    {id: 'mergeInventoryNo', visible: model.kind === 'merge', valueClassName: 'text-fixed'},
    {id: 'mergeLineSymbol', visible: model.kind === 'merge', valueClassName: 'text-fixed'},
    {id: 'mergeType', visible: model.kind === 'merge'},
    {id: 'protocolNo', valueClassName: 'text-fixed'},
    'protocolDate',
    {id: 'documentNo', valueClassName: 'text-fixed'},
    'documentDate',
    'assetName',
    {id: 'inventoryNo', valueClassName: 'text-fixed'},
    {id: 'costCenter', valueClassName: 'text-fixed'},
    {id: '!owner'},
    {id: '!applicant'},
    helpers.fa.committeeProp(),
    {id: 'cause', valueClassName: 'text-lines'},
    'initialValue',
    'deprecationValue',
    'netValue',
    'economicInitialValue',
    'economicDeprecationValue',
    'economicNetValue',
    helpers.fa.assetsProp(),
    {id: 'subAssetNo', valueClassName: 'text-fixed'},
    'postingDate',
    'valuationDate',
    {id: 'buyerName', visible: model.kind === 'sale'},
    {id: 'buyerAddress', visible: model.kind === 'sale', valueClassName: 'text-lines'},
    {id: 'saleValue', visible: model.kind === 'sale'},
    {id: 'tplNotes', valueClassName: 'text-lines'},
    helpers.fa.attachmentProp({name: 'handover', visible: model.kind === 'sale'}),
    helpers.fa.attachmentProp({name: 'hrt'})
  ]) %>
  <div class="form-group">
    <label for="<%- id('accountingNo') %>" class="control-label is-required"><%- t('PROPERTY:accountingNo') %></label>
    <input id="<%- id('accountingNo') %>" name="accountingNo" class="form-control fa-edit-short" type="text" data-required maxlength="50">
  </div>
  <div class="form-group">
    <label for="<%- id('odwNo') %>" class="control-label is-required"><%- t('PROPERTY:odwNo') %></label>
    <input id="<%- id('odwNo') %>" name="odwNo" class="form-control fa-edit-short" type="text" data-required maxlength="50">
  </div>
  <%- helpers.fa.attachmentFormGroup({
    name: 'invoice',
    required: false,
    visible: model.kind === 'sale'
  }) %>
  <%- helpers.fa.attachmentFormGroup({
    name: 'attachment'
  }) %>
  <div class="form-group">
    <label for="<%- id('comment') %>" class="control-label"><%- t('PROPERTY:comment') %></label>
    <textarea id="<%- id('comment') %>" class="form-control" name="comment" rows="3"></textarea>
  </div>
</div>
