<div class="fa-edit-stage" data-stage="verify">
  <%- helpers.props(details, [
    '!kind',
    {id: 'mergeInventoryNo', visible: kind === 'merge', valueClassName: 'text-mono'},
    {id: 'mergeLineSymbol', visible: kind === 'merge', valueClassName: 'text-mono'},
    {id: 'mergeType', visible: kind === 'merge'},
    {id: 'no', valueClassName: 'text-mono'},
    'date',
    {id: 'inventoryNo', valueClassName: 'text-mono'},
    'assetName',
    {id: 'costCenter', valueClassName: 'text-mono'},
    {id: '!applicant'},
    {id: 'cause', valueClassName: 'text-lines'}
  ]) %>
  <div id="<%- idPrefix %>-initialValue" class="form-group"></div>
  <div class="fa-edit-row">
    <div id="<%- idPrefix %>-deprecationValue" style="margin: 0 15px 15px 0"></div>
    <div id="<%- idPrefix %>-economicDeprecationValue" style="margin-bottom: 15px"></div>
  </div>
  <div class="fa-edit-row">
    <div id="<%- idPrefix %>-netValue" style="margin: 0 15px 15px 0"></div>
    <div id="<%- idPrefix %>-economicNetValue" style="margin-bottom: 15px"></div>
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-comment" class="control-label"><%- t('PROPERTY:comment') %></label>
    <textarea id="<%- idPrefix %>-comment" class="form-control" name="comment" rows="3"></textarea>
  </div>
</div>
