<div class="fa-edit-stage" data-stage="verify">
  <%- helpers.props(details, [
    '!kind',
    {id: 'mergeInventoryNo', visible: model.kind === 'merge', valueClassName: 'text-fixed'},
    {id: 'mergeLineSymbol', visible: model.kind === 'merge', valueClassName: 'text-fixed'},
    {id: 'mergeType', visible: model.kind === 'merge'},
    {id: 'protocolNo', valueClassName: 'text-fixed'},
    'protocolDate',
    'assetName',
    {id: 'inventoryNo', valueClassName: 'text-fixed'},
    {id: 'costCenter', valueClassName: 'text-fixed'},
    {id: '!owner'},
    {id: '!applicant'},
    helpers.fa.committeeProp(),
    {id: 'cause', valueClassName: 'text-lines'}
  ]) %>
  <div class="form-group">
    <label for="<%- id('assetName') %>" class="control-label is-required"><%- t('PROPERTY:assetName') %></label>
    <input id="<%- id('assetName') %>" name="assetName" class="form-control fa-edit-long" type="text" data-required data-maxlength="50 200">
  </div>
  <div class="fa-edit-row">
    <div id="<%- id('initialValue') %>" style="margin-right: 15px"></div>
    <div id="<%- id('economicInitialValue') %>"></div>
  </div>
  <div class="fa-edit-row">
    <div id="<%- id('deprecationValue') %>" style="margin-right: 15px"></div>
    <div id="<%- id('economicDeprecationValue') %>"></div>
  </div>
  <div class="fa-edit-row">
    <div id="<%- id('netValue') %>" style="margin-right: 15px"></div>
    <div id="<%- id('economicNetValue') %>"></div>
  </div>
  <%- helpers.fa.attachmentFormGroup({name: 'attachment'}) %>
  <div class="form-group">
    <label for="<%- id('comment') %>" class="control-label"><%- t('PROPERTY:comment') %></label>
    <textarea id="<%- id('comment') %>" class="form-control" name="comment" rows="3"></textarea>
  </div>
</div>
