<div class="row fa-ot-details-props">
  <div class="col-md-7" style="margin-bottom: 20px">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="visible-print"><%= details.no %></span>
        <span class="hidden-print"><%- helpers.t('PANEL:TITLE:details') %></span>
      </div>
      <div class="panel-details">
        <%- helpers.props(details, [
          '!protocolNeeded',
          '!commissioningType',
          {id: '!extendedDep', visible: model.commissioningType === 'inc-asset'},
          '!usageDestination',
          {id: '!protocolDate', visible: model.protocolNeeded},
          {id: '!protocolNo', visible: model.protocolNeeded, valueClassName: 'text-fixed'},
          '!documentDate',
          {id: '!documentNo', valueClassName: 'text-fixed'},
          'assetName',
          {id: 'lineSymbol', visible: model.usageDestination === 'factory', valueClassName: 'text-fixed'},
          {id: 'inventoryNo', valueClassName: 'text-fixed'},
          helpers.fa.zplxProp(),
          'supplier',
          'value',
          {id: 'costCenter', valueClassName: 'text-fixed'},
          'evalGroup1',
          'evalGroup5',
          'assetClass',
          {id: 'vendorNo', visible: model.usageDestination === 'external-supplier'},
          {id: 'vendorName', visible: model.usageDestination === 'external-supplier'},
          'depRate',
          'depKey',
          'economicMethod',
          {id: 'fiscalMethod', valueClassName: 'text-pre'},
          {id: 'taxMethod', valueClassName: 'text-pre'},
          'economicPeriod',
          'fiscalPeriod',
          'taxPeriod',
          helpers.fa.transactionsProp(),
          '!postingDate',
          {id: 'assetNo', valueClassName: 'text-fixed'},
          {id: 'accountingNo', valueClassName: 'text-fixed'},
          {id: 'odwNo', valueClassName: 'text-fixed'},
          {id: 'tplNotes', valueClassName: 'text-lines'}
        ]) %>
      </div>
    </div>
  </div>
  <div class="col-md-5 hidden-print">
    <div class="panel panel-default">
      <div class="panel-heading"><%- helpers.t('PANEL:TITLE:attachments') %></div>
      <div class="panel-details">
        <%- helpers.props(details, [
          helpers.fa.attachmentProp({name: 'protocol', visible: model.protocolNeeded}),
          helpers.fa.attachmentProp({name: 'checklist'}),
          helpers.fa.attachmentProp({name: 'outlay'}),
          helpers.fa.attachmentProp({name: 'certificate', visible: model.usageDestination === 'external-supplier'}),
          helpers.fa.attachmentProp({name: 'nameplate', visible: model.usageDestination === 'external-supplier'}),
          helpers.fa.attachmentProp({name: 'photo', visible: model.commissioningType === 'new-asset'}),
          helpers.fa.attachmentProp({name: 'hrt'}),
          helpers.fa.attachmentProp({name: 'attachment'})
        ]) %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><%- helpers.t('PANEL:TITLE:stages') %></div>
      <div class="panel-details">
        <%

          function renderStage(stage)
          {
            var html = '';

            if (stage.who)
            {
              html += '<i class="fa fa-clock-o"></i><span>' + stage.when + '</span><br>';
              html += '<i class="fa fa-user-o"></i><span>' + stage.who + '</span>';
            }

            return html;
          }

          var stages = Object.keys(details.stages).map(function(id)
          {
            return {
              id: '!stage:' + id,
              label: t('stage:' + id),
              value: renderStage.bind(null, details.stages[id]),
              visible: id !== 'finished' && id !== 'cancelled'
            };
          });

        %>
        <%- helpers.props(details, ['stage'].concat(stages)) %>
      </div>
    </div>
  </div>
</div>
