<div class="row fa-ot-details-props">
  <div class="col-md-6" style="margin-bottom: 20px">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="visible-print"><%= details.no %></span>
        <span class="hidden-print"><%- helpers.t('PANEL:TITLE:details') %></span>
      </div>
      <div class="panel-details">
        <%- helpers.props(details, [
          '!protocolNeeded',
          '!commissioningType',
          '!usageDestination',
          {id: '!protocolDate', visible: model.protocolNeeded},
          {id: '!protocolNo', visible: model.protocolNeeded, valueClassName: 'text-fixed'},
          '!documentDate',
          {id: '!documentNo', valueClassName: 'text-fixed'},
          'assetName',
          {id: 'lineSymbol', visible: model.usageDestination === 'factory', valueClassName: 'text-fixed'},
          {id: 'inventoryNo', valueClassName: 'text-fixed'},
          helpers.fa.zplxProp(),
          {id: '!owner', visible: model.protocolNeeded},
          helpers.fa.committeeProp({visible: model.protocolNeeded}),
          'supplier',
          'value',
          'fiscalValue',
          {id: 'costCenter', valueClassName: 'text-fixed'},
          'assetClass',
          {id: 'vendorNo', visible: model.usageDestination === 'external-supplier'},
          {id: 'vendorName', visible: model.usageDestination === 'external-supplier'},
          'deprecationRate',
          'economicPeriod',
          'fiscalPeriod',
          {id: 'sapNo', valueClassName: 'text-fixed'},
          {id: 'accountingNo', valueClassName: 'text-fixed'}
        ]) %>
      </div>
    </div>
  </div>
  <div class="col-md-6 hidden-print">
    <div class="panel panel-default">
      <div class="panel-heading"><%- helpers.t('PANEL:TITLE:attachments') %></div>
      <div class="panel-details">
        <%- helpers.props(details, [
          helpers.fa.attachmentProp({name: 'protocol', visible: model.protocolNeeded}),
          helpers.fa.attachmentProp({name: 'checklist'}),
          helpers.fa.attachmentProp({name: 'certificate', visible: model.usageDestination === 'external-supplier'}),
          helpers.fa.attachmentProp({name: 'nameplate', visible: model.usageDestination === 'external-supplier'}),
          helpers.fa.attachmentProp({name: 'photo', visible: model.commissioningType === 'new-asset'}),
          helpers.fa.attachmentProp({name: 'attachment'})
        ]) %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><%- helpers.t('PANEL:TITLE:stages') %></div>
      <div class="panel-details">
        <%

          function renderStage(stage)
          {
            var html = '';

            if (stage.who)
            {
              html += '<i class="fa fa-clock-o"></i><span>' + stage.when + '</span><br>';
              html += '<i class="fa fa-user-o"></i><span>' + stage.who + '</span>';
            }

            return html;
          }

          var stages = Object.keys(details.stages).map(function(id)
          {
            return {
              id: '!stage:' + id,
              label: t('stage:' + id),
              value: renderStage.bind(null, details.stages[id])
            };
          });

        %>
        <%- helpers.props(details, ['stage'].concat(stages)) %>
      </div>
    </div>
  </div>
</div>
