<form class="well filter-form">
  <%- forms.dateTimeRange({
    idPrefix,
    property: 'date',
    type: 'date',
    utc: true,
    labels: {text: t('PROPERTY:date'), ranges: true}
  }) %>
  <div class="form-group hidden" data-filter="stage">
    <label for="<%- id('stage') %>"><%- t('PROPERTY:stage') %></label>
    <select id="<%- id('stage') %>" class="form-control is-expandable" name="stage[]" multiple size="1" data-expanded-length="10">
      <% statuses.forEach(v => { %>
      <option value="<%- v %>"><%- t(`stage:${v}`) %></option>
      <% }) %>
    </select>
  </div>
  <div class="form-group hidden" data-filter="commissioningType">
    <label for="<%- id('commissioningType') %>"><%- t('PROPERTY:commissioningType') %></label>
    <select id="<%- id('commissioningType') %>" class="form-control" name="commissioningType" size="1">
      <option></option>
      <% ['new-asset', 'inc-asset'].forEach(v => { %>
      <option value="<%- v %>"><%- t(`commissioningType:short:${v}`) %></option>
      <% }) %>
    </select>
  </div>
  <div class="form-group hidden" data-filter="assetNo">
    <label for="<%- id('assetNo') %>"><%- t('PROPERTY:assetNo') %></label>
    <input id="<%- id('assetNo') %>" class="form-control" name="assetNo" type="text" style="width: 130px">
  </div>
  <div class="form-group hidden" data-filter="assetName">
    <label for="<%- id('assetName') %>"><%- t('PROPERTY:assetName') %></label>
    <input id="<%- id('assetName') %>" class="form-control" name="assetName" type="text">
  </div>
  <div class="form-group hidden" data-filter="inventoryNo">
    <label for="<%- id('inventoryNo') %>"><%- t('PROPERTY:inventoryNo') %></label>
    <input id="<%- id('inventoryNo') %>" class="form-control" name="inventoryNo" type="text" style="width: 130px">
  </div>
  <div class="form-group hidden" data-filter="value">
    <label for="<%- id('value') %>"><%- t('list:value') %></label>
    <input id="<%- id('value') %>" class="form-control" name="value" type="text" style="width: 110px">
  </div>
  <div class="form-group hidden" data-filter="costCenter">
    <label for="<%- id('costCenter') %>"><%- t('PROPERTY:costCenter') %></label>
    <input id="<%- id('costCenter') %>" name="costCenter" type="text">
  </div>
  <div class="form-group hidden" data-filter="zplx">
    <label for="<%- id('zplx') %>"><%- t('PROPERTY:zplx') %></label>
    <input id="<%- id('zplx') %>" class="form-control" name="zplx" type="text">
  </div>
  <%- renderLimit({hidden: true}) %>
  <div class="form-group filter-actions">
    <%- renderButton({reset: true}) %>
  </div>
</form>
